{% extends "layouts/main_layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/about_device.css' %}">
{% endblock head %}
{% block title %}
"{{ device.name }}" barada
{% endblock title %}
{% block body %}
<div id="box">
    <div class="row ml-20px">
        <div class="col">
            <p class="my-4 fs-12"><b>Ady:</b> {{ device.name }}</p>
            <p class="my-4 fs-12"><b>Ýagdaýy:</b> {{ status }}</p>
            <p class="my-4 fs-12"><b>Ýagdaýy barada giňişleýin:</b> {{ device.status_desc }}</p>
            <p class="my-4 fs-12"><b>Görnüşi:</b> {{ device.device_type.name }}</p>
            <p class="my-4 fs-12"><b>Düşündiriş:</b> {{ device.description }}</p>

        </div>
        <div class="col d-flex justify-content-center">
            <div>
                <div>
                    <p class="fs-12" style="text-align:center;"><b>Suraty:</b></p>
                </div>
                <div class="d-flex justify-content-center">
                    <img class="image" src="/media/{{ device.image }}"></div>
                </div>
            </div>
        </div>
    {% if technical_works %}
    <div class="row ml-20px">
        <p class="my-4 fs-12"><b>Tehniki işler:</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Ýerine ýetiren hünärmen
                    </th>
                    <th scope="col">
                        Wagty
                    </th>
                    <th scope="col">
                        Raport
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in technical_works %}
                    <tr>
                        <td>{{ row.worker.user.last_name }} {{ row.worker.user.first_name }}</td>
                        <td>{{ row.date_time }}</td>
                        <td>{{ row.report }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock body %}
{% block scripts %}
<script src="{% static 'js/about_device.js' %}"></script>
{% endblock scripts %}